@use "../../../styles/variables";

.cookieContent {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.2rem;
  box-sizing: border-box;
  @include variables.z-index("max");
}

.cookieAgreeBtn {
  color: #fff;
  background: dodgerblue;
  padding: 0.5em 1.5em;
  border: none;
  margin-left: 0.5rem;
}

.cookieDenyBtn {
  color: #000;
  background: white;
  padding: 0.5em 1.5em;
  border: none;
  margin-left: 0.5rem;
}
