.cart-overlay {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.cart-area {
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 2rem;
}

.cart-area.show {
    transform: translateX(0%);
}

.cart-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    font-weight: bold;
}

.cart-close-btn {
    color: rgb(245 245 245);
    border: none;
}

.cart-close-icon {
    font-size: 1.5rem;
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-icon {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.cart-msg {
    font-size: 1.5rem;
    font-weight: bold;
}