@use '../../../styles/variables';

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;

    .slideContainer:first-child {
        animation: marquee 100s -50s linear infinite;
    }
    .slideContainer+.slideContainer {
        animation: marquee2 100s linear infinite;
    }
}

.slideContainer {
    display: flex;
} 

.slide {
    width: auto;
    flex: none;
    height: 30vh;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}