.search-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 100%;
    color: white;
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}

.search-button {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.search-icon {
    width: 20px;
    height: 20px;
    color: #ccc;
}