.category-image-container {
    display: flex;
    align-items: center;
    justify-content: center
}

.category-image {
    object-fit: contain;
}

.overlay-box {
    margin-left: -8rem;
    z-index: 2;
}